:root {
  /*Color Variables*/
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #505050;
  --color-search-background: #ed255e;
  --color-gradient-purple: #530041;
  --color-light-black: #222222;
  --color-inspirations-card: #de3151;
  /*RGB Color Variables*/
  --color-rgb-white: 255, 255, 255;
  --color-rgb-black: 0, 0, 0;
  --color-rgb-light-gray-border: 221, 221, 221;

  /*padding and margin variables*/
  --pd-l: 8rem;
  --pd-m: 5rem;
  --pd-s: 2.5rem;

  /*font sizes*/
  --fs-500: 3.75rem;
  --fs-300: 2.4rem;
  --fs-250: 2rem;
  --fs-200: 1.6rem;
  --fs-100: 1.4rem;
}
